/* project-title: 150% + h5 */
.project-title {
  font-size: 150%;
}

.each-project {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

.language-description {
  display: flex;
  /*justify-content: center;*/
}

.each-language {
  background-color: green;
  color: white;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
}
