.wrapper {
  height: 500px;
  background-image: url("../../image/programming-blur.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting {
  animation: appear-animation 2s forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-size: 500%;
}

.name {
  border-top: 1px solid white;
  animation: appear-animation 6s forwards;
  opacity: 0;
  text-align: center;
  color: white;
  font-size: 300%;
}

@keyframes appear-animation {
  100% {
    opacity: 1;
  }
}
