.japanese-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../image/sakura-blur.jpg");
}

/* logo */
.japanese-left {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.japanese-logo {
  width: 300px;
}

/* word */
.japanese-right {
  flex-basis: 0;
  flex-grow: 2;
}
