.interest-block-description {
  font-weight: bold;
}

.sub-heading {
  font-size: 200%;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.paragraph {
  font-size: 130%;
}

.container {
  background-color: darkgrey;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-word {
  text-align: center;
}
